@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #2656b2;
}

.container {
    margin: 30px;
}

.navbar {
    display: flex;
    align-items: flex-start;
    top: 0px;
    background-size: cover;
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
}
.nav-item {
    margin-right: 30px;
}

a.nav-text{
    text-decoration: none;
    color: black;
}

.frontpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.gruniverse {
    background: linear-gradient(#000000, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #000000;
    font-size: 300px;
    padding: 0px;
    margin: 0px;
    text-decoration: solid black;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: orange;
    font-family: "Bebas Neue", sans-serif;
}

.movie-list{
    display: flex;
    flex-direction: row;
}

.movie-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.detail-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.detail-info-element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-info-element, h4, p {
    padding-right: 5px;
}

.detail-info-photo{
    
}

.tweets {
    background-color: white;
    border-radius: 10px;
    padding: 5px 40px;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.index-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-item{
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255, .5);
}

